
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div style="text-align: center; margin-top: 20px">
    Dữ liệu được cập nhật vào lúc @DateTime.Now
</div>
<script>
    $(document).ready(function () {
        $.getJSON("/Report/DoanhThuTheoThang", function (data) {
            var Names = []
            var Qts = []
            for (var i = 0; i < data.length; i++) {
                Names.push(data[i].name);
                Qts.push(data[i].count);
            }

            Highcharts.chart('container4', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Biểu đồ doanh thu theo từng tháng'
                },
                subtitle: {
                    text: 'Dựa vào doanh thu trong tháng đó'
                },
                xAxis: {
                    categories: Names,
                    title: {
                        text: 'Tháng'
                    }
                },
                yAxis: {
                    title: {
                        text: 'VNĐ'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Doanh thu',
                    data: Qts
                }]
            });
        });
    });


</script>

