
<div id="container1">

</div>
<div style="text-align: center; margin-top: 20px">
    Dữ liệu được cập nhật vào lúc @DateTime.Now
</div>

<script>
    $(document).ready(function () {
        $.getJSON("/Report/GetDataPayment", function (data) {
            Highcharts.chart('container1', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Hình thức thanh toán'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Hình thức',
                    colorByPoint: true,
                    data: [{
                        name: 'shipCOD',
                        y: data.COD
                    }, {
                            name: 'paypal',
                            y: data.PAYPAL
                        },
                       
                         ]
                }]
            });
        });
    });


</script>

