<div class="col-md-4">
    <div class="col-md-6">
        <img src="~/Content/Image/product.png" class="img-rounded img-thumbnail img-responsive" height="100" />
    </div>
    <div class="col-md-6">
        <h3>Sản phẩm</h3>
        <h2>@ViewData["TotalProductSold"]</h2>
        <p>đã bán</p>
    </div>
</div>

