
@{
    ViewBag.Title = "3RINGS | Giới thiệu";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<body>
    <div class="img-container">
        <img src="~/Content/Image/bg.jpg" alt="Snow" style="width:100%;">
        <div class="centered">
            <h4>CHẤT LƯỢNG - UY TÍN -  TẬN TÂM</h4>
            <p>Với mục tiêu phục vụ khách hàng là ưu tiên số một, 3RINGS đang ngày càng hoàn thiện hơn chất lượng dịch vụ, đào tạo đội ngũ nhân viên nhiệt tình, trung thực, chân thành, làm hài lòng bất cứ khách hàng nào đến mua sắm.</p>
        </div>
    </div>
    <div class="container" style="margin-top: 20px">
        <ol class="breadcrumb" style="margin-top: 20px">
            <li><a href="/Home/Index">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ol>
        <div class="product-header text-center" style="margin-bottom: 20px">
            TẠI SAO NÊN CHỌN MUA TẠI 3RINGS?
        </div>
        <div class="bg-reason">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="img-responsive img-rounded" src="~/Content/Image/free_delivery.png" />
                    <h4>MIỄN PHÍ VẬN CHUYỂN</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="img-responsive img-rounded" src="~/Content/Image/return.png" />
                    <h4>MIỄN PHÍ ĐỔI TRẢ</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="img-responsive img-rounded" src="~/Content/Image/assistance.png" />
                    <h4>HỖ TRỢ 24/7</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="img-responsive img-rounded" src="~/Content/Image/warranty.png" />
                    <h4>BẢO HÀNH LÂU DÀI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="product-header text-center">
            GIỚI THIỆU CHUNG
        </div>
        <div class="jumbotron text-justify" style="margin-top: 20px">
            <p>
                Công ty Cổ phần Bán lẻ Kỹ thuật số FPT (gọi tắt là FPT Retail) được thành lập từ năm 2012 tại Việt Nam, là một thành viên của Tập đoàn FPT, sở hữu 2 chuỗi bán lẻ là FPT Shop và F.Studio By FPT với tổng số cửa hàng là 500 trên khắp 63 tỉnh thành (tính đến tháng 4/2018).
            </p>
            <p>
                Trong suốt nhiều năm qua, bằng những nỗ lực không mệt mỏi, trung thành với chính sách “tận tâm phục vụ khách hàng”, FPT Retail quyết tâm hoạt động, xây dựng phong cách phục vụ khách hàng cho tất cả các mảng kinh doanh dù mới hay cũ, lấy đó làm nền tảng tăng trưởng bền vững, hoàn thiện hình ảnh một thương hiệu gần gũi, thân thiện và hướng tới mục tiêu phục vụ khách hàng là ưu tiên hàng đầu .
            </p>
            <p>
                Luôn đặt khách hàng làm trung tâm trong mọi suy nghĩ và hành động, FPT Shop đã xây dựng được một đội ngũ nhân viên với phong cách làm việc chuyên nghiệp, nhiệt tình và tận tâm với khách hàng. Bên cạnh đó, chúng tôi đã, đang và sẽ tiếp tục xây dựng trung tâm kinh doanh trực tuyến hiện đại nhất để khách hàng có thể tìm thấy FPT Shop dễ dàng và nhanh nhất.
            </p>
            <p>
                Sự đầu tư nghiêm túc và nỗ lực không ngừng của FPT Retail đã được cộng đồng ghi nhận qua số lượt khách hàng đến tham quan mua sắm tăng mạnh và ổn định trong suốt nhiều năm qua. Sau 6 năm hoạt động, FPT Retail đã tạo dựng được niềm tin nơi Quý khách hàng khi là nhà bán lẻ đứng thứ 1 về thị phần máy tính xách tay tại Việt Nam (từ năm 2015 đến nay), đứng thứ 2 về thị phần điện thoại và là nhà bán lẻ Apple chính hãng hàng đầu tại Việt Nam với đầy đủ các chuẩn cửa hàng từ cấp độ cao nhất APR và là top 4 nhà bán lẻ hàng đầu Việt Nam.
            </p>
            <p>
                FPT Retail cũng vinh dự được nhận nhiều giải thưởng: Top 100 giải thưởng “Sản phẩm, dịch vụ uy tín chất lượng” do người tiêu dùng bình chọn (Hội Tiêu chuẩn và bảo vệ người tiêu dùng Việt Nam tổ chức), được vinh danh Thương hiệu mạnh Việt Nam liên tiếp trong 3 năm 2013, 2014, 2015  và năm 2017 (Thời báo Kinh tế Việt Nam tổ chức), Nhà bán lẻ được yêu thích nhất 2016 do Thời báo Kinh tế VN bình chọn. Tính đến tháng 7/2017, FPT Retail lọt vào Top 4 nhà bán lẻ hàng đầu ở Việt Nam, Top 500 nhà bán lẻ hàng đầu Châu Á – Thái Bình Dương (Retail Asia). Tháng 11/2017, FPT Retail đã lọt Top 10 nhà bán lẻ uy tín do Công ty cổ phần Báo cáo đánh giá VN (Vietnam Report) và báo điện tử Vietnamnet tiến hành khảo sát. Theo Euromonitor và Retail Asia Publishing, với doanh thu 15.717 USD / m2, FPT Retail là nhà bán lẻ hiệu quả nhất Việt Nam.
            </p>
        </div>
    </div>
</body>